# Core
torch
torchvision
numpy
Pillow
PyYAML
tqdm
requests

# Diffusion model
einops
peft==0.9.0
diffusers==0.25.1
huggingface-hub==0.25.1
transformers==4.38.0
xformers

# Training
accelerate
lpips
tensorboard
wandb

# Image processing and flare synthesis
matplotlib
opencv-python-headless
OpenEXR
rawpy
scikit-image
scipy
